.card{
    margin: 10px;
    border: solid 2px grey;
    width:fit-content;
}
.imgDetail{
    border: solid 1px crimson;
    width: 300px;
    height: 300px;
    margin: 5px;
    padding: 5px;

}
.cardDetail{
    display: flex;
    flex-direction: column;
    margin: 5px;
    }
.button{
    display: flex;
    flex-direction: row;
    justify-content: center;


}
.count{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgb(205, 205, 205);
    font-size:larger;
    margin: 5px;
    padding: 5px;
}